</html><!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos Encontrados</title>

    <!-- PAGE -->
    
    <script src="/produto.js" defer></script>
    <link rel="stylesheet" href="/produto.css" type="text/css">
  


     <!-- GLOBALS -->
     <script src="../../globals/auth.js" defer></script>
     <script src="../../globals/sidebar.js" defer></script>
     <link rel="stylesheet" href="../../globals/header.css" type="text/css">
     <link rel="stylesheet" href="../../globals/footer.css">
 
     <!-- BOOTSTRAP CONFIG -->
     <script src="https://kit.fontawesome.com/69266619cf.js" crossorigin="anonymous"></script>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

</head>
<style>
   
</style>
<body>


   

    <%- include("../globals/header.ejs") %>


    <div class="container"></div>
    
  


        <span id="product_id" product_id="<%=productFound.product_id%>"></span>
        <span id="product_category" product_category="<%=productFound.category%>"></span>

        <span id="product_name" product_name="<%=productFound.product_name%>"></span>
        <span id="product_image" product_image="<%=productFound.product_image%>"></span>
        <span id="product_price" product_price="<%=productFound.price%>"></span>
        

        <!-- <% if (productFound.is_organic == 1){ %>
            <img src="../assets/organic_symbol.png" style="width: 100px;  position: absolute; top: -13px; left: -12px; background-color: rgba(255, 255, 255, 0.020); border-radius: 50%;" alt="">
            <% } %> -->
        
        <div class="container2">
        
         <div class="c1">
            <p class="eight" style="margin-top: 0; margin-bottom: 8px; font-size: .6em;"> Publicado em 14 de janeiro de 2021</p>
            <div style=" border: 1px solid rgb(245,245,245);">
                <img class="product-image" src="/file_system/product/<%=productFound.product_image%>" alt="">
            </div>
                <div class="product-buttons-container">
                    <button class="product-buttons" id="adicionar-carrinho-btn">ADICIONAR AO CARRINHO</button>
                    <button class="product-buttons" id="remover-carrinho-btn">REMOVER DO CARRINHO</button>
                    <button class="product-buttons" id="avaliar-btn">AVALIAR</button>
                </div>
                <div>
                    <!-- <p style="color: gray; font-weight: 200; margin: 0;">Criado por</p> -->
                    <div class="comment-image-and-username-container" onclick="window.location.href='/profile/<%= productFound.userid%>'">
                        <img src="/file_system/user/<%=productFound.user_image%>" alt="" class="comment-image">
                        <div style="display: flex; flex-direction: column;">
                            <p class="comment-username" style="color: gray; font-weight: 200; margin: 0;">
                                <%= productFound.full_name %>
                            </p>
                            <p style="font-size: .7em; color: gray; margin:0;">membro desde novembro de 2022</p>
                        </div>
                    </div>
                </div>
        </div>


        <div class="c2" style="position: relative;">
            <div style="position: absolute; top: 5px; right: 25px; font-size: 2em; cursor: pointer; color: rgb(198, 198, 198)" onclick="window.history.back()">
                <i class="fa-solid fa-angle-left"></i> <span>Voltar</span>
            </div>
            <p class="nine">Produto / <%= productFound.product_name %></p>
            <h1> <%= productFound.product_name %> </h1>
            <div class="product-stars">
                <% const star_rating = JSON.stringify(rating).substring(21,22) %>
                <% if (star_rating == 1) { %>
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-regular fa-heart"></i>
                    <i class="fa-regular fa-heart"></i>
                    <i class="fa-regular fa-heart"></i>
                    <i class="fa-regular fa-heart"></i>
                <% } else if (star_rating == 2) { %>
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-regular fa-heart"></i>
                    <i class="fa-regular fa-heart"></i>
                    <i class="fa-regular fa-heart"></i>
                <% } else if (star_rating == 3) { %>
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-regular fa-heart"></i>
                    <i class="fa-regular fa-heart"></i>
                <% } else if (star_rating == 4) { %>
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-solid fa-heart"></i>
                    <i class="fa-regular fa-heart"></i>
                <% } else if (star_rating == 5) { %>
                <% } else { %>
                    <i class="fa-regular fa-heart"></i>
                    <i class="fa-regular fa-heart"></i>
                    <i class="fa-regular fa-heart"></i>
                    <i class="fa-regular fa-heart"></i>
                    <i class="fa-regular fa-heart"></i>
                    <% } %>
                    <p class="rating-counts"></p>
            </div>

            <p class="nine">
                <%= productFound.product_description %>
            </p>
            <p class="nine" id="price">
                R$<%=productFound.price%><span style="font-size: .6em;">/<%=productFound.unity%></span>
            </p>
            <!-- <p>
                <%= productFound.average %>
            </p> -->

            <p class="eight"><i class="fa-solid fa-tag"></i> 
                <%= productFound.tags %>
            </p>
         
            <p class="nine">Categoria: <%= productFound.category %></p>
            <p class="nine">
                <% if (productFound.is_organic == 1){ %>
                    <i class="fa-solid fa-check"></i> 
                    <% } else { %>
                        <i class="fa-solid fa-xmark"></i>
                <% } %>
            Produto Orgânico</p>
            
            
            <p class="eight"><i class="fa-solid fa-upload" style="margin-top: 20px;"></i> Publicado em 14 de janeiro de 2021</p>

            <p class="eight"><i class="fa-regular fa-user"></i> criado por <a href="/profile/<%= productFound.userid %>">
                <%= productFound.full_name %>
            </a></p>
            </div>


            <!-- <div class="benefits">
                <h1 class="benefits-title">BENEFICIOS</h1>
    
                <div class="benefits-cards-container">
                    <div class="benefits-one">
                        <div class="benefits-circle">
                            <i class="fa-solid fa-cubes-stacked"></i>
                    </div>
                    <h3>SEM ACUCAR</h3>
                </div>
                <div class="benefits-two">
                    <div class="benefits-circle">
                        <i class="fa-solid fa-tag"></i>
                    </div>
                    <h3>PROMOÇAO</h3>
                    
                </div>
                <div class="benefits-three">
                    <div class="benefits-circle">
                        <i class="fa-solid fa-leaf"></i>
                    </div>
                    <h3>ORGANICO</h3>
                    
                </div>
            </div>
        </div> -->



            <!-- <div class="products"></div> -->
            
     

            <div class="comments">
                <div class="load-more-comments-container">
                    <button id="carregar-mais-btn">Carregar mais</button>
                </div>




                <div class="comment-design-container">
                    <div class="comment-design" id="comment-design-one">
                        <div class="comment-design-pic">
                        <div class="comment-design-pic-inside"></div>
                        </div>
                        <div class="comment-design-texts-container">
                            <div class="comment-design-bar-one"></div>
                            <div class="comment-design-bar-two"></div>
                        </div>
                    </div>


                    <div class="comment-design" id="comment-design-two">
                        <div class="comment-design-pic">
                            <div class="comment-design-pic-inside"></div>
                        </div>
                        <div class="comment-design-texts-container">
                            <div class="comment-design-bar-one"></div>
                            <div class="comment-design-bar-two"></div>
                        </div>
                    </div>

                    <div class="comment-design" id="comment-design-three">
                        <div class="comment-design-pic">
                            <div class="comment-design-pic-inside"></div>
                        </div>
                        <div class="comment-design-texts-container">
                            <div class="comment-design-bar-one"></div>
                            <div class="comment-design-bar-two"></div>
                        </div>
                    </div>

                    <div class="comment-design" id="comment-design-four">
                        <div class="comment-design-pic">
                            <div class="comment-design-pic-inside"></div>
                        </div>
                        <div class="comment-design-texts-container">
                            <div class="comment-design-bar-one"></div>
                            <div class="comment-design-bar-two"></div>
                        </div>
                    </div>


                </div>
                
                <div style="display: flex; align-items: flex-end;height: fit-content; justify-content: space-between; width: 100%;">

                    <div class="create-comment-container">
                        <div class="textarea-and-btn-container">
                            <h2 class="create-comment-title">Avalie esse Produto</h2>

                            <div class="pic-and-textarea-container">
                                <div class="comment-design-pic" id="my-create-comment-pic" style="cursor: pointer;" onclick="window.location.href = '/meuperfil'">
                                    <img src="" class="comment-design-pic-inside" id="my-create-comment-pic-inside">
                                </div>
                                <textarea name="" id="" cols="30" rows="3" class="ratting-input" placeholder="Adicionar comentário..."></textarea>

                            </div>
                      

                        <div style="display: flex; align-items: center; justify-content: space-between; width: 100%; padding: 0;  margin: 12px 0 12px 0;">

                            <div class="create-comment-stars-container">
                                <i class="fa-regular fa-heart" id="star1" ></i>
                                <i class="fa-regular fa-heart" id="star2" ></i>
                                <i class="fa-regular fa-heart" id="star3" ></i>
                                <i class="fa-regular fa-heart" id="star4" ></i>
                                <i class="fa-regular fa-heart" id="star5" ></i>
                            </div>
                            <button class="ratting-btn">Enviar comentário</button>
                        </div>
                    </div>
                </div>
                

                <div class="comment-design-diff-container">

                    <div class="comment-design-pic" id="comment-design-pic-diff">
                        <img class="comment-design-pic-inside" id="comment-design-pic-inside-diff" src="https://images.pexels.com/photos/1081685/pexels-photo-1081685.jpeg?auto=compress&cs=tinysrgb&w=600">
                    </div>

                    <div class="comment-design" id="comment-design-diff">
                        <div class="comment-design-texts-container" id="comment-design-text-diff">
                            <div class="comment-design-bar-one"></div>
                            <div class="comment-design-bar-two" style="height: 45px;"></div>
                            <div class="comment-design-bar-one"></div>
                            <div class="comment-design-bar-two"></div>
                            <div class="comment-design-bar-one"></div>
                            <div class="comment-design-bar-two"></div>
                        </div>
                    </div>

                </div>



            </div>



                <div class="comment-container">
                    <div class="comment-image-and-username-container">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Black_hole_-_Messier_87.jpg/1200px-Black_hole_-_Messier_87.jpg" alt="" class="comment-image">
                        <p class="comment-username">Joao da Silva</p>
                    </div>
                    <div class="comment-stars-container">
                        <i class="fa-solid fa-heart"></i>
                        <i class="fa-solid fa-heart"></i>
                        <i class="fa-solid fa-heart"></i>
                        <i class="fa-regular fa-heart"></i>
                        <i class="fa-regular fa-heart"></i>
                    </div>
                    <p class="comment-text">Gostei do produto</p>
                    <p class="comment-created-at">avaliado em 15 de novembro de 1999</p>
                </div>
            </div>


            <!-- <div class="propaganda">
                <div class="propaganda-inside"></div> 
            </div>  -->

       


   
    </div>

    
    <!-- <input type="text" class="ratting-input">
    <button class="ratting-btn">rate</button> -->

    
    <footer class="footer" style="margin-top: 100px;">
        <div class="f2">
            <div class="f2-circle"></div>
            <h3 style="color:rgb(60,68,55); margin-bottom: 0;">Go<span style="color:rgb(122, 192, 16)">Green</span></h3>
            <h5 style="color: rgb(84, 84, 84);">Viva Bem</h5>
        </div>
        </div>
    </footer>

        </body>
            
    </html>

         
    