<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/profile.css" type="text/css">
    <script src="/profile.js" defer></script>

    <title> <%= userFound.full_name %> </title>


 
    <!-- GLOBALS -->
    <script src="../../globals/auth.js" defer></script>
    <script src="../../globals/sidebar.js" defer></script>
    <link rel="stylesheet" href="../../globals/header.css" type="text/css">
    <link rel="stylesheet" href="../../globals/footer.css">
    

    <!-- BOOTSTRAP CONFIG -->
    <script src="https://kit.fontawesome.com/69266619cf.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>

    <div id="spinning"></div>


    <header class="header">
        <div style="height: 100%; display: flex; align-items: center; background-color: rgb(250,250,250);" class="logo-header-container" onClick="window.location.href = '/'">
            <img src="../assets/logo.png" style="width: 100%; height: 100%; margin-left: 8px; min-width: 75px; max-width: 85px;" alt="">
            <div class="company-name" style="height: fit-content; display: flex; padding: 0 35px;">
                <span style="font-family: monospace; font-size: 1.6em; color:rgb(41, 41, 41); text-decoration: solid;">
                    Go
                </span>
                <span style="font-family: monospace; font-size: 1.6em;color:rgb(122, 192, 16); font-weight: 800;">
                    Green
                </span>
            </div>
        </div>

        <div class="header-main">
            <p class="nav-item"><a href="/" style="color: rgb(68,68,68)">Home</a></p>
            <p class="nav-item"><a href="/sobre" style="color: rgb(68,68,68)">Sobre</a></p>
            <p class="nav-item"><a href="/produtos" style="color: rgb(68,68,68)">Produtos</a></p>
            <div class="nav-item" id="procurar-nav-item">
            <p id="procurar-and-icon-container">
                Procurar
                <i class="fa-solid fa-caret-down" id="seta" style="font-size: .9em; margin-left: 3px; height: fit-content;"></i>
            </p>
            <div class="procurar-painel-container" isOpen="false">
                <p style="margin: 0;" id="produtores-item" onClick="window.location.href = '/procurarUsuario'">Produtores</p>
                <p style="margin: 0; margin-top: 8px;"id="produtos-item" onClick="window.location.href = '/procurarProduto'">Produtos</p>
            </div>
            </div>
            <p class="hamburger-icon"><i class="fa-solid fa-bars"></i></p>
        </div>


        <div id="register-and-login" style="margin-left: 25px; display: flex; background-color: rgb(249, 249, 249); justify-content: center;">
            <p style="margin:0; padding-right: 15px; border-right: 1px solid rgb(92, 92, 92);" ><a href="/registrar" style="text-decoration: none;">
                <i class="fa-solid fa-user-plus" style="color:rgb(59, 59, 59); font-size: 1.2em;"></i>
            </a>
        </p>
            <p style="margin:0; padding-left: 15px;">
                <a href="/login" style="text-decoration: none;">
                    <i class="fa-solid fa-right-to-bracket" style="color:rgb(59, 59, 59); font-size: 1.2em;"></i>
                </a>
            </p>
        </div>

        <div class="header-user-icon-container">
            <img class="header-user-icon" src="" style="position:relative;">
            <div class="header-painel" style="visibility: hidden;">
                <li class="user-painel-item" style="margin-top: 0;">
                    <a href="/"
                    style="text-decoration: none; color: rgb(177, 177, 177);"
                    >Home</a></li>
                <li class="user-painel-item" style="margin-top: 0;">
                    <a href="/MeuPerfil"
                    style="text-decoration: none; color: rgb(177, 177, 177);"
                    >Meu Perfil</a></li>
                <li class="user-painel-item"><a href="/estacaoDeCriacao"
                    style="text-decoration: none; color: rgb(177, 177, 177);">Criar</a></li>
                <li class="user-painel-item"><a href="/criar"
                    style="text-decoration: none; color: rgb(177, 177, 177); margin-bottom:25px;"
                    >Meus produtos</a></li>
                <button class="logout-btn">Logout</button>
            </div>
        </div>
    </header>


    <div class="sidebar" isOpen="false">
        <div class="sidebar-items">
            <p class="sidebar-item" onclick="window.location.href = '/'">Home</p>
            <p class="sidebar-item" onclick="window.location.href = '/sobreNos'">Sobre Nós</p>
            <p class="sidebar-item" onclick="window.location.href = '/produtos'">Produtos</p>
            <p class="sidebar-item" onclick="window.location.href = '/procurarProduto'">Procurar Produto</p>
            <p class="sidebar-item" onclick="window.location.href = '/procurarUsuario'">Procurar Produtor</p>
            <h2 id="click-to-close">CLICK PRA FECHAR</h2>
        </div>
    </div>


















    <span>
        <%= userFound.user_image %>
    </span>




    <!-- transfer ejs data to frontend js thorugh HTML attributes and DOM -->
    <span id="createdAt" style="visibility: hidden; position: absolute" createdAt="<%=  userFound.created_at %>"></span>
    

    <div class="c1">

        <% if (!userFound.user_image || userFound.user_image.toString().trim() == '') { %>
            <img class="circle" src='/file_system/app/user_default.jpg'></img>
            <% } else {%>
                <img class="circle" src='/file_system/user/' <% + userFound.user_image %>></img>
        <% }%>
        <!-- <h2 class="c1-title" style="text-align: center;">Guilherme Miranda da Silva Pereira Santos de Souza
            Almeida Barros</h2> -->
        <!-- <h2 class="c1-text" style="text-align: justify;">Minha bio não é nada interessante e eu nao ligo pra isso de qualquer forma, sue me...</h2> -->

    <!-- <p  style="background-color: white; border-radius: 10px; width: 55%; text-align: center; margin: auto;margin-top:25px; margin-bottom: 95px; padding: 25px;">Usuario nao possui uma Bio</p> -->
    </div>
    <div class="container">

        <div class="c2">
            <div class="c2-container">
                <h2 class="name-title" style="color: rgb(60,68,55);">
                    <%= userFound.full_name %>
                </h2>
                
                <% if (!userFound.bio || userFound.bio.toString().trim() == '') { %>
                    <p>Este usuário nao possui uma bio.</p>
                <% }  else { %>
                    <%= userFound.bio %>
                <% }%>
                <p>
                </p>

                <div class="icon-and-text-container" style="margin-top: 25px;">
                    <i class="fa-regular fa-calendar"></i>
                    <p class="createdAtField">Criado em</p>
                </div>

                <% if (userFound.user_gender === 1) { %>
                    <div class="icon-and-text-container">
                        <i class="fa-solid fa-mars-stroke"></i> 
                        <p class="icon-and-text-text">Masculino</p>
                    </div>
                    <% }  else if (userFound.user_gender === 2) { %>
                        <div class="icon-and-text-container">
                            <i class="fa-solid fa-venus"></i>
                            <p class="icon-and-text-text">Feminino</p>
                        </div>
                        <% } else {%>
                            <i class="fa-solid fa-genderless"></i>
                            <p class="icon-and-text-text">Outro</p>
                            <% } %>
                            
                            <div class="icon-and-text-container">
                                <i class="fa-regular fa-hourglass-half"></i>
                                <p id="ageField" class="icon-and-text-text">
                                    Idade: <%= Number(new Date().getFullYear() - Number(userFound.birth_date.toString().substring(11,15))) %>
                                    anos
                                </p>
                            </div>

            

                            
                            
                            
                            
                            
                            <div class="icon-and-text-container">
                                <i class="fa-solid fa-location-dot"></i>
                                <p id="ageField" class="icon-and-text-text">
                                    <%= userFound.addr_state %>  
                                </p>
                            </div>
                            
                            <div class="icon-and-text-container">
                                <i class="fa-solid fa-phone" ></i>
                                <p class="icon-and-text-text" style="font-size: .95em;"> 
                                    <%= userFound.phone_number %>  
                                </p>
                            </div>


                            
                            <% if (!userFound.updated_at || userFound.updated_at.toString().trim() == '') { %>
                                <div class="icon-and-text-container">
                                    <i class="fa-solid fa-calendar-days"></i>
                                    <p class="createdAtField">Ultima vez atualizado em </p>
                                </div>
                                <% }  else  { %>
                                    <div class="icon-and-text-container">
                                        <i class="fa-solid fa-genderless"></i> 
                                        <p class="icon-and-text-text">Feminino</p>
                                    </div>
                    <% } %>
                   
                    <div style="margin-top: 28px;">

                        <% if (!userFound.about_me || userFound.about_me.toString().trim() == '') { %>
                            <p>Este usuário não possui uma descricao ou mais informações sobre ele.</p>
                            <% }  else { %>
                                <h3>Sobre</h3>
                                <p>
                                    <%= userFound.about_me %>
                                </p>
                                <% }%>
                                
                    </div>
                
             
            </div>
            <!-- <h1 class="c2-title" style="margin-top: 0;">Sobre</h1>
            <p class="c2-text">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like 
            </p> -->

            <!-- <p  style="background-color: rgb(255, 255, 255); border-radius: 10px; width: 55%; text-align: center; margin: auto;  margin-top: 95px; padding: 25px;">Usuario nao possui informaçoes</p> -->

        </div>

       

        
        

     
        <div class="c5">
            <h2 style="color: rgb(60,68,55);
                text-align: center;
                margin-bottom: 25px;
            ">Mais Produtos de <%= userFound.full_name %> </h2>
         
            <div class="mais-produtos-container">
               
            </div>
        </div>

      
    </div>


















   
    


</body>


</html>